.contenedor_nosotros{
    width: 80%;
    padding-top: 180px;
    background-color: #181822;
}

.wrapper_contenidoNosotros{

    display: flex;

    justify-content: space-evenly;
    align-items: center;
    min-height: 200px;
}

.centroCont{
background-color: rgba(92, 88, 88, 0.354);
}
.contenidoNosotros{
    display: flex;
    justify-content: center;
    padding-inline-start: 40px;
    align-items: center;
    width: 50%;
    height: 350px;
  
}
.contenidoNosotros p{
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 10px;
}
.cont_card_respresentantes{
    display: flex;
    justify-content: space-around;
}
.wrapper_contenidoNosotros_representantes{
    background-color: black;
    height: 700px;
}

.cont_text_respresentantes{
    margin: 50px 20px;
}

.videoMision{
    padding: 40px 0px;
    width: 40%;
}